body{
    padding: 0;
    margin: 0;
    background-color: white;
}
nav{
    height: 85px;
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    background-color: white;
    align-content: center;
    border: 1px solid grey;
    
  
  }
  nav a{
    margin: 30px 10px 30px 10px ;
    text-decoration: none;
    font-size: 17px;
    color: black;
    
  }
  nav a:hover{
    color: blueviolet;
  }
  nav .a4{
    background-color: white;
    border: solid black 2px;
    color: black;
    font-weight:bold ;
    width: 80px;
    height: 30px;
    margin: 20px 5px 5px 10px;
    text-align: center;
    padding-top: 5px;
    
  }
  nav .a5{
    background-color: black;
    border: solid black 2px;
    color:white;
    font-weight:bold ;
    width: 80px;
    height: 30px;
    margin: 20px 10px 10px 10px;
    text-align: center;
    padding-top: 5px;
    
  }
  .a4:hover{
    background-color: rgb(191, 191, 191);
  }
  
  
  nav .search{
    width: 550px;
    margin: 20px;
    border-radius: 25px ;
    border: solid gray 2px;
    background-color: rgb(243, 243, 243);
    padding-left: 30px;
    font-size: 15px;
  }
  .p2im1{
    margin-left: 100px;
  }
/*
header{
grid-area: hd;
} 
main{
    grid-area: mn;
}
footer{
    background-color: #333;
    grid-area: ft;
}
.grid .container{    
display: grid;
grid-template-areas :
"hd hd hd hd"
"mn mn mn mn"
"mn mn mn mn"
"mn mn mn mn"
"ft ft ft ft"
"ft ft ft ft"

}
.grid .container > *{

}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: white;
    bottom: 0;
    width: calc(100% - 30%);
    left: 15px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    padding: 0;
    margin: 0;
}
header .logo img{
    height: 40px;
}
header nav{
    flex:1;
}
*/
*{
    margin: 0;
    padding: 0;
   box-sizing:border-box ;
   font-family:sans-serif;
}

.container{
    margin-top: 50px;
    height: 100vh;
    width: 100%;
    display:flex;
    
   
    background-color: white;
     justify-content:center;
    align-content:center;
}/*
.form{
    max-width: 430px;
    width: 100%;
     padding: 30;
    border-radius:6px ;
   
background-color:white;
}*/
form{
    margin-top: 80px;
   
}
form.fied{
    position: relative;
    height: 50px;
    width: 100%;
 margin-top: 20px;
 border: 6px;
}
.field input , .field button{
 
    
    font-size: 16px;

}
.field input{
    outline: none;
    height: 100%;
    width: 430px;
    border: none;
    padding: 15px 15px;
    margin: 7px;
    border:1px solid black;
   
 
}
.field button{
    height: 100%;
    width: 430px;
    border: none;
    padding: 10px 15px;
    background-color:rgb(172, 37, 172);
    margin: 5px;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button :hover{
    background-color:rgb(243, 14, 243);
}
.field input:focus{
    border-bottom-width: 2px;
}
/*
.eye-icon{
    position: absolute;
    top: 40%;
    right: 30px;
    transform: translateY(-50%);
    font-size: 18px;
    color: black;
}*/
 form link{
 text-align: center;
 font-size: 10px;
 justify-content: centers;
 align-content:center;
 }
.link span,
.link a{
    font-size: 12px;
    font-weight: 400px;
  color: black;

}
.form a{
    color: rgb(86, 9, 158);
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;

}

.form :content a:hover{
    text-decoration: underline;
}

 .media{
    display: flex;
    color: black;
    outline: none;
   background-color: white;
    border: none;
    padding: 13px 15px;
    margin: 3px;
    border:1px solid black;
 }
 a.facebook{
    color: black;
    background-color: white;
    text-decoration: none;
 }
 a.google{
    color: black;
    background-color: white;
    text-decoration: none;
 }
 a.apple{
    color: black;
    background-color: white;
    text-decoration: none;
 }
 .footer{
    margin-top: 90px;
    margin-left: -20px;
    width: 100%;
    height: 300px;
    background-color: rgb(49, 47, 47);
    color: white;
  }
  .footer table{
    width: 900px;
   padding: 10px;
   margin-top: 20px;
   margin-left: -100px;
   
  }
  td{
    text-align: center;
    padding: 6px;
  }
  .footer .img1{
    margin-top: 40px;
    padding: 20px;
    width: 100px;
  }
 
  @media screen and (min-width:501px) and (max-width:1120px){

    nav{
      height: 85px;
      display: flex;
      flex-flow: row nowrap;
      padding: 1px;
      background-color: white;
      align-content: center;
    
    }
    nav img{
        padding-left: 0px;
      margin-left: 0px;
      width: 40%;
      height: 80px;
    }
    nav a{
      font-size: 0px;
    }
    nav .a4{
      width: 0px;
      height: 0px;
      border: 0px;
    }
    nav .a5{
      width: 0px;
      height: 0px;
      border: 0px;
    }
    
    nav .search{
      width: 0px;
      margin: 0px;
      border-radius: 0px ;
      border: solid gray 0px;
      background-color:white;
      padding-left: 0px;
      font-size: 10px;
    }
}
@media screen and (max-width:500px){
    nav{
      height: 75px;
      display: flex;
      flex-flow: row nowrap;
      padding: 1px;
      background-color: white;
      align-content: center;
    
    }
    nav img{
      margin-left: 0px;
      width: 50%;
      height: auto;
    }
    nav a{
      font-size: 0px;
    }
    nav .a4{
      width: 00px;
      height: 0px;
      border: 0px;
    }
    nav .a5{
      width: 0px;
      height: 0px;
      border: 0px;
    }
    
    nav .search{
      width: 0px;
      margin: 0px;
      border-radius: 0px ;
      border: solid gray 0px;
      background-color:white;
      padding-left: 0px;
      font-size: 10px;
    }
}